<!-- footer.liquid -->
<style>
  .icon-white { 
    color: #ffffff !important;
    }
</style>
<footer class="pt-16 bg-black">
  <div class="px-14 md:px-20 flex flex-col md:flex-row mx-auto py-8 gap-4">

    <!-- Column 1 -->
    <div class="w-full md:w-56 px-7 mb-10">
      {% if section.settings.footer_menu_1 %}
        {% assign menu1 = linklists[section.settings.footer_menu_1] %}
        <h3 class="text-sm uppercase font-body text-white font-normal mb-4 text-center md:text-left">{{ menu1.title }}</h3>
        <ul>
          {% for link in menu1.links %}
            <li class="text-center md:text-left"><a class="text-sm text-gray-300 hover:opacity-60 uppercase text-center md:text-left font-body font-extralight" href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <!-- Column 2 -->
    <div class="w-full md:w-56 px-7 mb-10">
      {% if section.settings.footer_menu_2 %}
        {% assign menu2 = linklists[section.settings.footer_menu_2] %}
        <h3 class="text-sm text-center text-white md:text-left uppercase font-body font-normal mb-4">{{ menu2.title }}</h3>
        <ul>
          {% for link in menu2.links %}
            <li class="text-center md:text-left"><a class="text-sm text-gray-300 hover:opacity-60 uppercase text-center md:text-left font-body font-extralight" href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <!-- Column 3 -->
    <div class="w-full md:w-96 px-7">
      <!-- Additional content for Column 3 -->
      <div class="subscribe-form flex flex-col items-left">
      <h3 class="text-sm text-white uppercase font-body font-normal text-center md:text-left mb-4">Subscribe</h3>
      <p class="text-sm text-gray-300 font-body font-extralight text-center md:text-left mb-4">Sign up for 15% off your first purchase.</p>
      

      <div id="mc_embed_shell">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{ false;clear:left; font:14px Helvetica,Arial,sans-serif; width: full;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        #mc_embed_signup form{ margin: 0px;}
        #mce-EMAIL{ height: 43px;}
        #mc_embed_signup .mc-field-group input{ padding: 8px 4px; border-radius: 0; font-family: Prompt;}
        #mc_embed_signup .button{ margin-bottom: 0; height: 42px; width: full; padding: 0 36px; border-radius: 0;}   
        #mc-embedded-subscribe{  width: full; font-family: Prompt; text-transform: uppercase; }
        #mc_embed_signup #mce-success-response{
          color: #ffffff;
        }
        #mc_embed_signup div.response{
          width: 105%; color: white; font-family: Prompt; font-weight: 200;
        }   
        #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error{
          width: 100%; color: white; font-family: Prompt; font-weight: 200; background-color: black ;
        }
      </style>
      <div id="mc_embed_signup">
      <form action="https://egnar.us9.list-manage.com/subscribe/post?u=c668c2592c81c6216699acb83&amp;id=c9196aa828&amp;f_id=0008d2e3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll" class="flex flex-row">
            
            <div class="mc-field-group"><input type="email" name="EMAIL" class="required email" placeholder="Your Email" id="mce-EMAIL" required="" value=""></div>
        
       <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_c668c2592c81c6216699acb83_c9196aa828" tabindex="-1" value="">
       </div>
        <div class="optionalParent w-1/2">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
            </div>
        </div>
    </div>
    <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
</form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>


      </div>
    </div>

    <!-- Column 4 -->
    
      <!-- Additional content for Column 4 -->
    <div class="w-full md:w-96 px-7">
      <h3 class="text-sm text-center md:text-left font-body text-white font-normal uppercase mb-4">Connect</h3>
      <!-- Add your social icons with links -->
      <div class="flex justify-center md:justify-start gap-8 mb-5">
        <a href="{{ section.settings.facebook_link }}" target="_blank"><i class="icon-white">{% render 'facebook' %}</i></a>
        <a href="#" class="hidden" target="_blank"><i class="icon-white">{% render 'twitter' %}</i></a>
        <a href="{{ section.settings.instagram_link }}" class="px-5" target="_blank"><i class="icon-white">{% render 'instagram' %}</i></a>
        <a href="#" class="hidden" target="_blank"><i class="icon-white">{% render 'youtube' %}</i></a>
        <a href="#"class="hidden" target="_blank"><i class="icon-white">{% render 'tiktok' %}</i></a>
        <a href="#" class="hidden" target="_blank"><i class="icon-white">{% render 'linkedin' %}</i></a>
      </div>
      <!-- Add a "Download the App" button -->
      <button class="w-full hidden md:w-56 bg-white bg-opacity-10 text-white text-sm font-body font-light uppercase tracking-widest py-3 px-5  hover:bg-gray-800 focus:outline-none">Download the App</button>
    </div>
    

    <!-- Column 5 -->
    <div class="w-full md:w-56 px-24 md:px-5 flex justify-center items-center md:mb-10 md:ml-10">
      <!-- Additional content for Column 5 -->
      <img class="mt-12 w-auto h-6" src="{{ section.settings.footer_img |  img_url: 'master' }}" alt="">
    </div>

  </div>

  <div class="--copyright w-full text-center py-5">
    <a href="" class="font-body font-extralight text-sm text-gray-500">COPYRIGHT © 2024 · (EGNAR US)</a>
  </div>

</footer>



{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "label": "Footer Menu 1",
      "id": "footer_menu_1"
    },
    {
      "type": "link_list",
      "label": "Footer Menu 2",
      "id": "footer_menu_2"
    },
    {
        "type": "image_picker",
        "label": "select image",
        "id": "footer_img"
    },
    {
        "type": "text",
        "id": "facebook_link",
        "label": "Facebook Link",
        "default": "#"
    },
    {
        "type": "text",
        "id": "instagram_link",
        "label": "Instagram Link",
        "default": "#"
    }
    
  ],
  "presets": [
    
  ]
}
{% endschema %}

