<!-- HERO SECTION Banner,hero heading,subheading,hero buttons, -->
{% if section.settings.background_image != blank %}
  {% assign background_image_url = section.settings.background_image | img_url: 'master' %}
 {% else %}
  {% assign background_image_url = 'https://asrv.com/cdn/shop/files/kits-banner-2_half_2000x.jpg' %} 
{% endif %}
<section class="scroll-pb-0 bg-cover bg-center" style="background-image: url('{{ background_image_url }}');">
  
    <div class="h-[57rem] flex flex-col justify-center items-center md:items-start md:justify-end SectionHeader  md:pb-20">
      <div class="h-fit mt-80 Slideshow__Content Slideshow__Content--Position"> <!-- Add 70px padding to left and right --> 
     <h1 class="font-body text-white font-medium uppercase text-shadow text-3xl mb-2 md:mx-20">{{ section.settings.heading_hero | default: "Winter Drop 2" }}</h1> <!-- Set h1 font size to 30px -->
      <h3 class="font-body text-white font-thin uppercase text-shadow text-xs mb-6 md:mx-20">{{ section.settings.subheading_hero }}</h3> <!-- Set h3 font size to 14px -->
      <div class="SectionHeader__ButtonWrapper">
        <div class="ButtonGroup flex flex-col md:flex-row">
          <a href="{{ section.settings.button1_href }}" class="bg-white flex-shrink-0 hover:bg-gray-200 font-body font-light text-center text-xs text-black uppercase mb-3 py-4 px-7 md:ml-20">{{ section.settings.firstbtntext }}</a>
          
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Select Background Image"
    },
    { 
       "type": "text",
       "label": "Heading",
       "id": "heading_hero",
       "default": "Winter Drop 2"

    },
    {
       "type": "text",
       "label": "SubHeading",
       "id": "subheading_hero",
       "default": "RELEASING THIS SUNDAY DOWNLOAD"

    },
    {
      "type": "text",
      "label": "Button 1 Link",
      "id": "button1_href",
      "default": "#"
    },
    {
      "type": "text",
      "label": "Button 1 Text",
      "id": "firstbtntext",
      "default": "BUTTON Text 1"
    }
  ],
  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{% endschema %}
