<div class="container py-10 mx-auto">
    {% paginate search.results by 10 %}
        <h1 class="text-xl my-4 font-extralight font-body text-center">Search Results</h1>

        <div class="flex justify-center items-center">
            <form action="{{ routes.search_url }}" method="get" class="flex rounded">
                <input type="search" name="q" placeholder="Search" value="{{ search.terms | escape }}"
                    class="px-4 py-3 w-80 border"
                >

                <button type="submit" class="bg-black bg-opacity-85 uppercase font-body font-extralight hover:bg-opacity-100 text-white text-sm border px-4 py-3">Search</button>
            </form>
        </div>
        {% if search.performed %}
            {% if search.results.size > 0 %}
                <div class="max-w-6xl mx-auto">
                    <p class="text-gray-500 font-body font-extralight text-center my-10">{{ search.results.size }} results for the search term {{ search.terms | escape }}</p>
                    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                        {% for item in search.results %}
                            {% case item.object_type %}
                                {% when 'product' %}
                                    {% render 'product-card' product: item %}
                                {% else %}
                                    
                            {% endcase %}
                        {% endfor %}
                    </div>
                </div>
                
            {% else %}
                <div class="text-center my-4">
                    <p>No results found for the search term: {{ search.terms | escape }}. Try to use a different keyword</p>
                </div>
            {% endif %}
        {% endif %}
        

        
    {% endpaginate %}